<div class="container">
  <h3 class="form-header display-inlineblock">New Game </h3>
  <span class="right close-modal"> <i class="material-icons">add</i> </span>
  <%= form_for(@game) do |f| %>
    <% if @game.errors.any? %>
      <div id="error_explanation">
        <h2><%= pluralize(@game.errors.count, "error") %> prohibited this game from being saved:</h2>

        <ul>
        <% @game.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
        </ul>
      </div>
    <% end %>

    <div class="row input-field">
      <%= f.text_field :name %>
      <%= f.label :name %>
    </div>
    <div class="row">
      <div class="input-field col s12 m6">
        <%= f.select(:num_players, [['2',2],['3',3],['4',4],['5',5]]) %>
        <%= f.label "Number of Players" %>
      </div>
      <div class="input-field col s12 m6">
        <%= f.select(:size, [['Short', 'small'],['Long','large']]) %>
        <%= f.label "Game Length" %>
      </div>
    </div>
    <div class="row input-field">

    </div>
      <%= f.submit class: "btn waves-effect waves-light primary-color full-width" %>
  <% end %>
</div>
