
<div class="container">
  <h3 class="form-header display-inlineblock"> Sign in </h3>
  <span class="right close-modal"> <i class="material-icons">close</i> </span>

  <%= form_tag '/sign_in', method: :POST do %>

    <div class="row input-field">
      <%= text_field_tag :name, nil, class: "user-form", autofocus: true %>
      <%= label_tag :name%>
    </div>


    <div class="row input-field">
      <%= password_field_tag :password, nil, class: "user-form", autofocus: true %>
      <%= label_tag :password%>

    </div>

    <div class="row">
      <%= submit_tag "Login", class: "full-width btn primary-color" %>
    </div>
  <% end %>
</div>
