
<div class="container">
  <h1> Sign in </h1>
  <%= form_tag '/sign_in', method: :POST do %>

    <div class="row input-field">
      <%= text_field_tag :name, nil, class: "user-form", autofocus: true %>
      <%= label_tag :name%>
    </div>


    <div class="row input-field">
      <%= password_field_tag :password, nil, class: "user-form", autofocus: true %>
      <%= label_tag :password%>

    </div>

    <div class="row">
      <%= submit_tag "Login", class: "btn primary-color" %>
    </div>
  <% end %>
</div>
