
<div class="container">
  <h3 class="form-header display-inlineblock"> Sign in </h3>
  <span class="right close-modal"> <i class="material-icons">close</i> </span>

  <%= form_tag '/sign_in', method: :POST do %>

    <div class="row input-field">
      <%= text_field_tag :login_name, nil, class: "user-form", autofocus: true %>
      <%= label_tag "Name"%>
    </div>


    <div class="row input-field">
      <%= password_field_tag :login_password, nil, class: "user-form", autofocus: true %>
      <%= label_tag "Password"%>

    </div>

    <div class="row">
      <%= submit_tag "Login", class: "full-width btn primary-color" %>
    </div>
  <% end %>
</div>
