<!DOCTYPE html>
<html>
<head>
  <title>Plunder</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  <div class="navbar-fixed">
  <nav class="brown darken-4">
    <div class="nav-wrapper container">
      <%= link_to root_path, class:"brand-logo left" do %>
        <small class="chattr-logo">Plunder</small>
      <% end %>
      <ul class="right">


      </ul>

    </div>
  </nav>
</div>


<%= yield %>

</body>
</html>
