<!DOCTYPE html>
<html>
<head>
  <title>Plunder</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>

  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>

<body>
  <span class="bg-back"></span>

  <span class="bg-img"></span>
  <div class="navbar-fixed">
  <nav id="main-nav" class="brown darken-4">
    <div class="nav-wrapper container">
      <%= link_to root_path, class:"brand-logo left" do %>
        <small class="">Plunder</small>
      <% end %>
      <% if params[:controller] == 'games' && params[:id].present? %>
        <span class='game-title-show brand-logo center hide-on-small-only'><%= @game.name %></span>
      <% end %>
      <ul class="right">

        <% if signed_in? %>
          <li>
            <%= link_to "Log Out", sign_out_path %>
          </li>
        <% else %>
          <li>
            <a id="signup" href="#signup_modal">Register</a>
          </li>
          <li>
            <a id="login" href="#login_modal">Log In</a>
          </li>
        <% end %>
        <li>
          <a data-position="bottom" data-delay="50" data-tooltip="How to Play" class="tooltipped help-modal-trigger override" href="#help_modal"><i class="material-icons">help_outline</i></a>
        </li>
      </ul>
      <% if signed_in? %>
        <span class="user-name-display btn-flat right">Hello, <%= current_user.name.truncate(12) %></span></div>
      <% end %>
    </div>
  </nav>
</div>

<div id="login_modal" class="modal">
  <%= render partial: 'layouts/sign_in_form' %>
</div>

<div id="signup_modal" class="modal">
  <%= render partial: 'layouts/sign_up_form' %>
</div>

<div id="help_modal" class="modal">
  <%= render partial: 'layouts/help' %>
</div>


<%= yield %>

</body>

</html>
