<!DOCTYPE html>
<html>
<head>
  <title>Plunder</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  <div class="navbar-fixed">
  <nav class="brown darken-4">
    <div class="nav-wrapper container">
      <%= link_to root_path, class:"brand-logo left" do %>
        <small class="chattr-logo">Plunder</small>
      <% end %>
      <ul class="right hide-on-sm">
        <% if signed_in? %>
          <li>
            Hello, <%= current_user.name %>
          </li>
          <li>
            <%= link_to "Log Out", sign_out_path %>
          </li>
        <% else %>
          <li>
            <%= link_to "Log In", sign_in_path %>
          </li>
        <% end %>
      </ul>

    </div>
  </nav>
</div>


<%= yield %>

</body>
</html>
